<h1>Future Path</h1>

<h2>In the Immediate Future</h2>

<p>
The next languages I plan on focusing on are Java and PHP.  After 
building a solid foundation with Java, I will venture into PHP to 
build on my back-end skillset.  I want to continue adding to my skills 
towards a full-stack developer role.
</p>

<h2>In the Near Future</h2>

<p>
I wish to find a position in a company that encourages innovation and 
offers an environment where I can build upon my current skills.  I desire 
an opportunity to work on a variety of tasks to meet the demands of the 
current project at hand where I can contribute in a meaningful way as 
part of a development team.
</p>

<h2>Within the Next Five Years</h2>

<p>
I see myself as a full-stack developer that can offer tutelage to new 
developers.  Despite the experience I will have accumulated by this point, 
I will understand that a career in development is a commitment to life-long 
learning and will strive to continue my roles as both student and teacher 
in this career field.
</p>