<h1>Core Values</h1>

<h2>Accountability</h2>

<p>
Although taking accountability for one's actions may feel intimidating 
at times, I find that a person grows the most when they reflect upon 
past mistakes and strive for improvement.  I take pride in possessing 
this trait as I believe that it is one of the more valuable traits a 
developer can have in their toolbox.  As I code, I know I will make mistakes.  
It is the very nature of programming that logic, or even typographical, errors 
will crop up; however, I understand I learn more from the mistakes that 
I make than when my code works as intended the first time.  Accepting 
constructive criticism and building upon it is a key value that allows me 
to improve.
</p>

<h2>Determination</h2>

<p>
Everyone feels self-doubt at times.  Determination often separates the 
individuals that give in from those that continue to pursue their goals 
in spite of such doubt.  Many of the complementary skills that went into 
building this application originate from my determination to break into the 
field of web development.  While it may be difficult to learn on my own while 
raising a family, I never consider giving up as a viable option.  I will 
accomplish my goals through continued study and hard work.
</p>

<h2>Teamwork</h2>

<p>
From my personal experience developing independently, I understand that a 
quality product requires a great deal of planning and time.  Large projects 
depend on communication between coworkers and a willingness to put one's ego 
aside to deliver quality content to the user.  As a senior member in my current 
role, I instill knowledge into new employees and encourage their growth as 
team members.  I emphasize the interdependency of each employee to the overall 
success of our store and take time to ensure they feel a sense of comradery.  
Despite my prior experience being in a retail setting, I am appreciative of 
my current employer for teaching me these values as I feel they translate to 
any profession&ndash;including web development.
</p>