<h1>About Me</h1>

<h2>General</h2>

<p>
Hello my name is Brandon Dickens.  I recently graduated from East 
Carolina University last December with my Bachelor's degree 
in Business Education with a major in Information Technology.  Currently 
pursuing a career in web development, many of my developed skills 
involve front-end development, but i possess some back-end knowledge as 
well.  I desire a position where I can build upon my current skillset 
with the goal of becoming a full-stack developer in the future.
</p>

<h2>Why Web Development?</h2>

<p>
Since my high school days where I would tinker with the CSS on a 
forum that my friends and I operated on invisionfree, I always found 
development as an interesting pursuit.  It was not until I took a 
class in web development and maintanence from ECU that I truly felt 
that my old hobby of web development could lead to a career.  After 
finishing the course, I began learning all I could about the skills I 
would need to make my dream come true.  After much self-study, 
I find myself proud of what I have accomplished.  Though I feel I have 
learned a great deal from my efforts, I know there is much still to 
learn in the field of development.  I eagerly await the opportunity to 
improve in a professional setting as I continue to grow as a developer.
</p>