<!--The content below is only a placeholder and can be replaced.-->

<div id = "navigation">
<a class = 'link' routerLink = '' routerLinkActive = "navActive" [routerLinkActiveOptions]="{exact:true}">About</a>
<a class = 'link' routerLink = 'values' routerLinkActive = "navActive">Values</a>
<a class = 'link' routerLink = 'skills' routerLinkActive = "navActive">Skills</a>
<a class = 'link' routerLink = 'future' routerLinkActive = "navActive">Future</a>
<a class = 'link' routerLink = 'projects' routerLinkActive = "navActive">Projects</a>
</div>

<div id = "master">
<div class = "container">
<div [@routerAnimation] = "getRouteAnimation(route)"> 
<router-outlet #route = "outlet"></router-outlet>
</div>
</div>
<div class = "bioContainer">
<img src = "assets/profilePic.jpg">
<div class = "bio">
<p>Brandon Dickens</p>
<p>Phone<br/>
<span>(919) 478-4835</span></p>
<p>Email<br/>
<span>dickensb15@ecualumni.ecu.edu</span></p>
<p>GitHub<br/>
<span>https://github.com/Yaulthoon</span></p>
<p>
<span><a href = "assets/Brandon_Dickens_Resume.pdf">
View Paper Resume</a></span></p>
</div>
</div>
</div>

